1.Make a new dictionary in which keys become values and values become keys.

In [1]:
port1 = {21:"FTP",22:"SSH",23:"telnet",80:"http"} 
port2 ={value:key for key,value in port1.items()}
print("The output:",port2)

The output: {'FTP': 21, 'SSH': 22, 'telnet': 23, 'http': 80}

2.Make a new list which conains the sum of number of tuples.

In [2]:
list1=[(1,2),(3,4),(5,6),(4,5)]
res=[]
for each in range(0,len(list1)):
    a,b=list1[each]
    res.append(a+b)
print(res)

[3, 7, 11, 9]

3.Make the elements of inner list and tuples to outer lists.

In [3]:
list1=[(1,2,3),[1,2],['a','hit','less']]
list2=[]
list2=[i for each in list1 for i in each]
print (list2)

[1, 2, 3, 1, 2, 'a', 'hit', 'less']